@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;700&display=swap');

:root{
    --main-bg-color:#FAFAFA;
}

body{
    width:100vw;
    height:100vh ;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Commissioner', sans-serif;
}
.main {
    background-color:var(--main-bg-color);
    height: auto;
    position: relative;
}

 p {
    color: #7A7A7A;
    font-size: 1.2vw;
    margin: 0;
    line-height: 2.1vw;
    text-align: justify;
}
h1,h2,h3,h4{
    margin: 0;
}
h1{
    font-size: 2.2vw;
    font-weight: 700;
}
h2{
    font-size: 1.9vw;
    font-weight: 700;
}
h3{
    font-size: 1.4vw;
    font-weight: 700;
}
h4{
    font-size:1.2vw;
    font-weight: 700;
}
.header-picture{
width: 100%;
height: auto;
position: relative;
}

.background-image{
   background-image:url("./images/image-hero-desktop.jpg");
   max-width: 100%;
   height:40vh ;
   background-repeat: no-repeat;
   background-size: cover;
}

.header-picture-layer{
    position: absolute;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,30%);
    display:flex;
    justify-content: center;
    z-index: 10;
    overflow: hidden;
}

.navbar-conteiner{
    width: 77%;
    height: 6vh;
    margin-top:4vw;
    color:#FFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.crowdfound {
    font-size:2vw;
    font-weight: 700;
}

.navbar>a{
    color:white;
    text-decoration: none;
    font-size:1.2vw;
    margin-left:2vw;
}

.bamboo-conteiner{
    width: 55%;
    height: auto;
    margin:0 auto;
    margin-top:-7vw;
    background-color: var(--main-bg-color);
    position: relative;
    z-index:20;
    display: flex;
    flex-direction: column;
    margin-bottom: 10vh;
    border-radius: 6px;

}

.title-section {
   margin-bottom: 4vh;
   border: 1px solid rgba(122,122,122,0.2);
   background-color: #FFF;
   border-radius: 6px;
   position: relative;
}

.title-section-logo{
    position: absolute;
    left:50%;
    top:-28px;
    transform:translateX(-50%);  
}

.title-section h2{
    margin-bottom:1.5vh;
    margin-top:10vh;
    text-align: center;
}

.title-section p{
    margin: 0;
    margin-bottom: 5vh;
    text-align: center;  
}

.bookmark-conteiner{
    width: 85%;
    height: 8vh;
    margin:0 auto;
   margin-bottom: 4vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.back-btn{
    width: 15vw;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4vw;
    font-size: 1.2vw;
    background-color: #3CB3AB;
    color: #FFF;
    font-weight: 500;
    cursor: pointer;
}

.back-btn:hover{
    background-color:#147A73; ;
}

.bookmark-btn{
    height: 8vh;
    width: 15vw;
    display:flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2vw;
    cursor: pointer;
}

.bookmark-img{
    height: 100%;
    width: auto;
    position: relative;
    z-index:2
}

.bookmark-text{
    height: 8vh;
    width: 15vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F4f4f4;
    color: #7A7A7A;
    font-weight: 500;
    margin-left:-3vw;
    border-radius: 4vw;
    position: relative;
}

.backers-conteiner{
    margin-bottom:4vh;
    background-color: #FFF;
    border-radius: 6px;
    border: 1px solid rgba(122,122,122,0.2);
}

.backers-conteiner p{
    margin: 0;
}


.backers-statistics{
    width: 85%;
    height: 12vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top:4.5vh;
}

.backed{
    margin-right: 3vw;
}
.total-backers{
    padding-left:4vw;
    border-left: 1px solid rgba(122, 122, 122,0.2);
    padding-right: 5vw;
    border-right: 1px solid rgba(122,122,122,0.2);
}

.days-left{
    padding-left:3.5vw;
}

.slider{
    width: 47vw;
    height: 8px;
    margin: 0 auto;
    margin-top: 2vh;
    margin-bottom: 3.5vh;
    position: relative;
    border-radius: 9px;
    background-color: rgba(122,122,122,0.1);
}

.inner-slider{
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #3CB3AB;
    border-radius: 9px;
}



.about-project{
    width: 100%;
    height: auto;
    background-color: #FFF;
    border-radius: 6px;
    border: 1px solid rgba(122,122,122,0.2);
}

             
.about-conteiner{
    width: 85%;
    margin: 0 auto;
    margin-bottom: 8vh;
}

.about-conteiner>p:first-of-type{
    margin-bottom:2.3vh;
}
.about-conteiner h3{
   margin-top:5.5vh;
   margin-bottom: 3vh;
}

.stand{
    width: 100%;
    height: auto;
    border: 1px solid rgba(122,122,122,0.3);
    border-radius: 6px;
    margin-top:4vh;
}

.stand-conteiner {
    width: 90%;
    margin: 0 auto;
}

.stand-conteiner>p:first-of-type{
    margin-bottom: 2.5vh;
}

.title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin:1.5vh 0;
}

.title>p{
    color: #3CB3AB;
    font-size:1.1vw;
    font-weight: 500;
}



.select-reward-conteiner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 8vh;
    margin-bottom: 2.5vh;
}

.select-reward-conteiner>div:first-of-type{
    display: flex;
    align-items: center;
}

.select-reward-conteiner>div:first-of-type p{
    margin-left:0.7vw;
}

.select-reward, .inactive-btn{
    height: 6vh;
    width: 10vw;
    border-radius: 4vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #147A73;
    font-size: 1vw;
    color: white;
    font-weight: 500;

}

.select-reward:hover{
    cursor: pointer;
    background-color: rgb(60, 179, 171);
}


.modal{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
    transition:200ms ease-in-out;
    border: 1px solid rgba(122,122,122,0.5);
    border-radius: 6px;
    z-index: 30;
    background-color: white;
    width: 55%;
    height: 75vh;
}

.modal.active{
     transform: translate(-50%,-50%) scale(1);
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,60%);
    transition:200ms ease-in-out;
   z-index: 25;
    pointer-events: none;
   opacity: 0;
}

.overlay.active{
    opacity: 1;
    pointer-events: all;
}


.times{
    position: relative;
    top: -1vh;
    left: 98%;
    font-size: 4vh;
    color: #7A7A7A;
    font-weight: 700;
    cursor: pointer;
}
.modal-conteiner{
    width: 100%;
    height: 75vh;
    padding: 40px;
    margin:0 auto;
    box-sizing: border-box;
    overflow-y: scroll;
    border-radius: 6px;
}

.modal-conteiner>p:first-of-type{
    margin-top:1.5vh;
    margin-bottom: 4vh;
}

.pledge-section{
    width: 100%;
    height: auto;
    border: 1px solid rgba(122,122,122,0.5);
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    margin-bottom: 3vh;
}

.pledge-section-inactive{
     width: 100%;
    height: auto;
    border: 1px solid rgba(122,122,122,0.5);
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    margin-bottom: 3vh;
    opacity: 0.4;
}
.pledge-header{
    display: flex;
    margin-top: 3vh;
    margin-bottom: 3vh;
}

.pledge-btn-conteiner {
  width: 18%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.pledge-text-conteiner{
    margin-right: 1.5vw;
}

.pledge-btn{
    width: 1.7vw;
  height:1.7vw; 
 border-radius: 50%;
  border: 1px solid rgba(122,122,122,0.5);
  display: flex;
  align-items: center;
  justify-content: center;
} 

[data-active = 'active']:hover {
    cursor: pointer;
}
.pledge-header-modal{
    display: flex;
    align-items: center;
    margin-bottom: 2.5vh;
    
}
.pledge-header-modal p{
    line-height: normal;
}

.pledge-header-modal>p:nth-of-type(1){
    color:#3CB3AB;
    font-weight: 500;
}
.pledge-header-modal>p:nth-of-type(2){
    margin-left:auto;
     font-size: 3.2vh;
    font-weight: 700;
    color: black;
}

.pledge-header-modal>p:nth-of-type(3){
    margin-left:0.7vw;
  
   
}
.pledge-modal-title, .modal-title-inactive{
   margin-right: 1.5vw;
 
    
} 
.pledge-modal-title:hover{
    cursor: pointer;
}

.bamboo-btn {
    margin-top:0.7vh;
}       

.circle{
    width: 1vw;
    height: 1vw;
    border-radius: 50%;
    background-color: #3CB3AB;
    opacity: 0;
}


.enter-pledge{
    border-top:1px solid rgba(122,122,122,0.5);
    display: flex;
    align-items: center;
    height: 13vh;
  display: none;
    
}
.enter-pledge>p:first-of-type{
  
   margin-left: 2vw;
   margin-right: auto;
   
}
.error-msg{
    opacity:0;
    margin: 0;
    margin-right: 0.2vw;
    color: red;
    font-weight: 700;
}

.submit-pledge{
    width: 11vw;
    height: 8vh;
    border-radius: 2vw;
    background-color: #3CB3AB;
    color: white;
    font-weight: 500;
    font-size: 1.3vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0.7vw;
    margin-left:1vw;

}
.submit-pledge:hover{
    cursor: pointer;
}

.input-box{
    
    width: 11vw;
    height: 8vh;
    border: 1px solid #3CB3AB;
    border-radius: 2vw;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.input-box>p:first-of-type{
    font-weight: 700;
    opacity: 0.5;
    margin-left: 1vw;
    margin-right: 1vw;
}
.input-box>p:nth-of-type(2){
    color: black;
    font-weight: 700;
    margin-right: 0.5vw;
}
.input-pledge{
    display: block;
    width: 4vw;
    -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  outline: none;
  caret-color: #3CB3AB; 
  font-family: 'Commissioner', sans-serif;
  font-size: 1.2vw;
  font-weight: 700;

}

/* Chrome, Safari, Edge, Opera  - removing arrows form input number*/ 
.input-pledge::-webkit-outer-spin-button,
.input-pledge::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance:none;
  margin: 0;
}

.inactive{
    opacity: 0.4;
}



.modal2{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
    transition:200ms ease-in-out;
    border: 1px solid rgba(122,122,122,0.5);
    border-radius: 6px;
    z-index: 40;
    background-color: white;
    /*ovde obavezno mora da bude bg color*/
    width: 400px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2.5vw;
    box-sizing: border-box;

}

.modal2.active{
     transform: translate(-50%,-50%) scale(1);
}
.modal2 p{
    text-align: center;
    margin-top: 2vh;
    margin-bottom: 4vh;
    margin-left:2vw;
    margin-right: 2vw;
}

.modal2 img{
    width: 5vw;
    height: auto;
    margin-bottom: 5vh;
}

.got-it{
    height: 45px;
    width: 90px;
    border-radius: 4vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3CB3AB;
    font-size: 1vw;
    color: white;
    font-weight: 500; 
  
}

.got-it:hover{
    cursor: pointer;
    background-color:#3CB3AB;

}
.burger-nav{
    display: none;
}

/*****************************tablet*********************************************************/
@media screen and (max-width:768px){
    .bamboo-conteiner{
        width: 80%;
    }
    .title-section h2{
        font-size: 2.7vh;
        margin-top:5vh
    }
    p{
        font-size:1.7vh;
        line-height:2.5vh;
    }
    .back-btn{
        height: 5vh;
        width: 20vw;
        font-size:1.4vh;
    }

    .bookmark-btn{
        height: 5vh;
        width: 20vw;
    }
    .bookmark-text{
        height: 5vh;
        font-size: 1.4vh;
        padding-left:1vw;
        margin-left:-3.2vw;
    }
    .title-section p{
        margin-bottom: 3vh;
    }
    .backers-statistics{
        margin-top: 2vh;
    }
    h1{
        font-size: 3vh;
    }

    .backers-conteiner p{
       
        margin-bottom: 2vh;
    }
    .backed h1{
        margin-bottom: 0.7vh;
    }
    .total-backers h1{
        margin-bottom: 0.7vh;
    }
    .days-left h1{
        margin-bottom: 0.7vh;
    }
    .slider{
        width: 67vw;
    }
    .about-conteiner h3{
        font-size: 2.2vh;
        margin-top: 4vh;
        margin-bottom: 4vh;

    }
    h4{
        font-size:1.8vh;
    }
    .title>p{
        font-size:1.7vh;
    }
    .select-reward, .inactive-btn{
        width: 18vw;
        height: 5.5vh;
        font-size: 1.3vh;
    }
    .modal{
        width: 80%;
    }
    h2{
        font-size: 2.5vh;
    }
    .pledge-btn{
        width: 3vw;
        height: 3vw;
    }
    .circle{
        width: 2vw;
        height: 2vw;
    }
    .input-box{
        height: 5vh;
        border-radius: 3vw;
    }
    .input-pledge{
        /* width: 5vw; */
        font-size: 1.7vh;
    }
    .submit-pledge{
        height: 5vh;
        width: 13vw;
        border-radius: 3vw;
        font-size: 1.5vh;
        margin-right: 1.5vw;
    }

    .error-msg{
        margin-right: 1.2vw;
    }

    .modal2 img{
        width: 8vw;
        margin-bottom: 3.5vh;
    }

    .got-it{
        height: 55px;
    width: 100px;
    font-size: 1.4vh;
    margin-bottom: 3vh;
    }

    .crowdfound{
        font-size:3vh;
    }
    .navbar>a{
        font-size: 1.vh;
    }

}

/***************************************************mobile***************************************************/
@media screen and (max-width:480px){
   
   
    .burger-nav{
    display: block;
     
       
    }
    .burger-nav img{
        width: 5.2vw;
        height: auto;
    }
    .crowdfound {
        font-size: 4vh;
       
    }

    .background-image {
        background-image:url("./images/image-hero-mobile.jpg");
       
    }
   

    .navbar-conteiner{
        flex-wrap: wrap;
        width: 90%; 
        position: relative;
        z-index:60;

    }

  

    .navbar{
        width: 100%;
        display: flex;
        flex-direction: column;
        border: 1px solid black;
        margin: 0 auto;
        background-color: white;
        border-radius: 6px;
        padding: 15px;
        box-sizing: border-box;
        justify-items: center;
        margin-top:5.1vh;
        display: none;
        
    }
    .active-navbar{
        display: block;
    }
    .navbar>a{
        margin:0;
        color: black;
        height: 8vh;
        font-size: 2.5vh;
        font-weight: 500;
        border-bottom: 1px solid rgba(122,122,122,0.2);
        display: flex;
        align-items: center;
       
       
    }

    .navbar>a:last-of-type{
        border-bottom: none;
    }
    .bamboo-conteiner{
        margin-top: -9vw;
        width: 85%;
        /* z-index: auto; */
       
      
    }
    .title-section-logo{
        width: 15vw;
    }
    .title-section h2{
        font-size: 3.5vh;
    }
    
    p{
        font-size: 2.2vh;
        line-height: 3.2vh;
    }
    .title-section p {
        margin-bottom: 3vh;
        margin-left: 2vw;
        margin-right: 2vw;
    }
    .bookmark-text{
        display: none;
    }

    .back-btn{
        width: 45vw;
        height: 7vh;
        border-radius: 10vw;
        font-size: 2.3vh;
    }
    .bookmark-btn{
        height: 7vh;
    }

    .backers-statistics{
        flex-direction: column;
        width: 90%;
        height: auto;
        margin-top: 0;

    }
    .backed{
        margin: 0;
        border-bottom: 1px solid rgba(65, 34, 34, 0.2);
    }
    h1{
        font-size: 4.5vh;
    }
    .backers-statistics h1{
        margin-top:3vh;
    }

    .backers-conteiner p{
        margin-top: 1vh;
        margin-bottom: 2.5vh;
    }

    .total-backers{
        border-left: none;
        border-right: none;
         border-bottom: 1px solid rgba(65, 34, 34, 0.2);
    }
    .slider{
        width: 75vw;
        height: 15px;
    }
    /* h3{
        font-size: 2.5vh;
    } */
    .about-conteiner{
        width: 90%;
    }

    .about-conteiner h3{
        font-size: 2.7vh;
    }
    h4{
        font-size: 2.2vh;
    }
    .title>p{
        font-size:2.2vh
    }

    .title{
        flex-wrap: wrap;
        margin-bottom: 2vh;
    }
    .title>h4{
        width: 100%;
        margin-bottom: 0.8vh;
    }

    .select-reward-conteiner{
        flex-direction: column;
        align-items: flex-start;
        height: auto;
        margin-top: 4vh;
    }
    .select-reward-conteiner>div:first-of-type{
        margin-bottom: 2vh;
    }
    .select-reward-conteiner>div:first-of-type p{
        margin-left: 1.1vw;
    }

     .select-reward, .inactive-btn{
        width: 40vw;
        border-radius: 10vw;
        font-size: 2.3vh;
        height: 7vh;
       
        
    } 
   .modal{
       width: 90%;
   }
   h2{
       font-size: 2.8vh;
   }
   

    .pledge-section:nth-of-type(2) .pledge-btn-conteiner{
        height: 30vh;
    }

    .pledge-section:nth-of-type(3) .pledge-btn-conteiner{
        height: 30vh;
    }
     .pledge-section-inactive .pledge-btn-conteiner{
        height: 30vh;
    }

    
   .modal-conteiner{
       padding: 20px;
   }
   .pledge-header{
       margin-top:5vh;
       margin-bottom: 5vh;
   }

   .pledge-header-modal{
       flex-direction: column;
       align-items: flex-start;
       margin-bottom: 4vh;
     
   }
   .pledge-text-conteiner{
       position: relative;
       height: auto;
       margin-right: 6vw;
   }
   .pledge-header-modal>p:nth-of-type(2){
       position: absolute;
        bottom: -1.5vw;
   }
   .pledge-header-modal>p:nth-of-type(3){
       position: absolute;
       bottom: -1vw;
       left: 10vw;
       margin-top: 5vh;
   }

   .pledge-modal-title, .modal-title-inactive{
       margin-left: 10vw;
       margin-bottom: 1.2vh;
      
   }

   .pledge-header-modal>p:nth-of-type(1){
       margin-left: 10vw;
   }
  
.pledge-btn-conteiner{
    width: 10%;
}
   .pledge-btn{
       position: relative;
       left: 5vw;
       width: 25px;
       height: 25px;

   }
   .circle{
       width: 15px;
       height: 15px;
   }

   .enter-pledge{
       /* flex-direction: column; */
       height: auto;
        flex-wrap: wrap;
        margin-bottom: 4.5vh;
   }
   .enter-pledge>p:first-of-type{
       margin: 0 auto;
       width: 100%;
       text-align: center;
       margin-top: 5vh;
   }

   .error-msg{
       width: 100%;
       text-align: center;
   }

   .input-box,.submit-pledge{
      
       height: 6vh;
       width: 42%;
       border-radius: 10vw;
       margin-top: 4vh;
   }

   .submit-pledge{
       font-size: 2.2vh;
       margin-right: 4vw;
   }
   .input-box{
       margin-left: 5vw;
       margin-right: auto;
   }
   .input-pledge{
       width: 20vw;
       height: 5vh;
       font-size: 2.2vh;

   }

   .modal2{
       width: 350px;
   }

   .modal2 img{
       width: 17vw;
       margin-top: 5vh;
   }

   .modal2 p{
       margin-left: 3vw;
       margin-right: 3vw;
   }
  

 .got-it{
     margin-bottom: 5vh;
     border-radius: 10vw;
     font-size: 2vh;
 }
 .layer2{
     position: fixed;
     top: 0;
     left: 0;
      width: 100%;
      height: 100%;
    background-image: linear-gradient(180deg, rgba(0,0,0,0.5), rgba(255, 255, 255, 0.2));
    display: none;
    
 }
 .x {
     font-weight: 700;
     color: white;
     font-size: 5vh;
 }
}

@media screen and (max-width:320px){
    .input-pledge{
        width: 15vw;
    }
     .pledge-section:nth-of-type(2) .pledge-btn-conteiner{
        height: 33vh;
    }

    .pledge-section:nth-of-type(3) .pledge-btn-conteiner{
        height: 33vh;
    }
     .pledge-section-inactive .pledge-btn-conteiner{
        height: 33vh;
    }
    .modal2{
        width: 280px;
    }
    .got-it{
        height: 45px;
    width: 90px;
    }
}